@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes flip-dot {
  0% {
    transform: perspective(100px) rotateX(0deg);
  }
  50% {
    transform: perspective(100px) rotateX(90deg);
  }
  100% {
    transform: perspective(100px) rotateX(0deg);
  }
}

@keyframes flip-edge {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-flip-dot {
  animation: flip-dot 0.3s ease-in-out;
}

.animate-flip-edge {
  animation: flip-edge 0.3s ease-in-out;
}
